body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#city {
	font-size: 60px;
	position: absolute;
	bottom: 250px;
	right: 40px;
}

#feelslike-label {
	/*color: #563D95;*/
	font-size: 55px;
	position: absolute;
	bottom: 150px;
	right: 70px;
}

#feelslike {
	/*color: #563D95;*/
	font-size: 50px;
	position: absolute;
	bottom: 70px;
	right: 70px;
}

#wind-label {
	font-size: 40px;
	position: absolute;
	bottom: 120px;
	left: 50px;
}

#wind {
	font-size: 40px;
	position: absolute;
	bottom: 80px;
	left: 50px;
}

#mph {
	font-size: 40px;
	position: absolute;
	bottom: 80px;
	left: 80px;
}